* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

@font-face {
    font-family: 'London Bridge';
    src: url('London Bridge.otf') format('opentype');
}

body {
    background-color: #F4533F;
}

.container {
    width: 88%;
    margin: 0 auto;
}

.main-header {
    background: #10222E;
    padding: 20px 0;
}

.main-header .container {
    font-family: 'London Bridge';
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}

.header-nav-link {
    color: #FEF6D2;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.header-nav-link:nth-child(5) {
    margin-right: 40px;
}

.header-nav-link:hover {
    color: #F4533F;
}

.main-image {
    width: 100%;
}

.project {
    font-family: 'London Bridge';
    font-size: 1.2em;
    color: #FEF6D2;
    width: 88%;
    align-items: center;
    margin: 70px auto 0 auto;
}

.project h1 {
    text-transform: uppercase;
}

.photo-container {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
    height: 700px;
}

.photo-container img {
    border-radius: 50%;
    height: 320px;
    width: 320px;
    margin: 50px auto;
}

.photo-container p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.video-project {
    margin: 0 auto;
    display: flex;
}

.videos {
    font-family: 'London Bridge';
    font-size: 1.2em;
    color: #FEF6D2;
    width: 88%;
    align-items: center;
    margin: 70px auto 0 auto;
} 

.videos h1 {
    text-transform: uppercase;
}

/* mobile */

@media(max-width: 768px) {
   .photo-container {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       height: 3px;
   }
}
