* {
    margin: 0;
    text-decoration: none;
    padding: 0;
}

@font-face {
    font-family: 'London Bridge';
    src: url('London Bridge.otf') format('opentype');
}

body {
    background-color: #F4533F;
    font-family: 'London Bridge';
}

.main-header {
    background: #10222E;
}

.flex-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.main-header .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-link {
    color: #FEF6D2;
}